

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: pink;
    background-size: cover;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black;
    z-index: 1000;
    text-align: center;
}

.wrapper {
    width: 450px;
    background: rgba(255, 255, 255, 0.43);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    margin-top: 100px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.p {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
    text-align: center;
}

.buttons {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
    text-align: center;
    cursor: pointer;
}

.buttons:hover {
    text-decoration: underline;
    color: #fb52b5;
    transition: color 0.2s;
}

.buttons:active {
    border: 2px solid #fb52b5;
    background-color: #fb52b5;
    color: #ffffff;
    box-shadow: 0 0 10px black;
}

.movie-item {
    margin: 8px 0;
    cursor: pointer;
    padding: 6px 10px;
    background-color: #fff;
    border-radius: 8px;
}

.movie-name {
    font-weight: 500;
}

.movie-options {
    margin-top: 6px;
    display: none;
}

.category-section h2 {
    background: #ffe1f0;
    padding: 6px;
    border-radius: 6px;
    margin-top: 20px;
    text-align: center;
}

.avg-rating {
    display: inline-block;
    margin-left: 10px;
    color: #444;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
