/* Here will be the style of the MoviesP */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: pink;
    background-size: cover;
}
header{
    position: Fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black;
}

.wrapper {
    width: 450px;
    background: rgba(255, 255, 255, 0.43); /* Use rgba for transparent background with opacity */
    color: rgb(0, 0, 0);
    margin: 0 auto;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}
 .p {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
    text-align: center;
}

.buttons {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
    text-align: center;
    cursor: pointer;
}

.buttons:hover{
    text-decoration: underline;
    color: #fb52b5;
    transition: color 0.2s;
}

.buttons:active{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #fb52b5;
    border-radius: 40px;
    background-color:#fb52b5;
    color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
    transition: color 0.2s;
    box-shadow: 0 0 10px black;
}

.input-box {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    transition: 0.4s ease-in-out;
    text-align: center;
}
.input[type="text"] {
    background-color: solid white;
    border: 2px solid red;
    border-radius: 4px;
}